<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<form action="{{url_for('sousou')}}" method="post" name="sou">
    {{form.hidden_tag()}}
    <table class="table">
        <tr>
            <td width="300">输入搜索词:</td>
            <td width="400">{{ form.sou(size = 40, maxlength = 140) }}</td>
            <td><input  name="single" type="submit" value="搜搜"></td>
            <td><button  id="all" class="btn  btn-primary" type="button">查看所有词</button></td>
            <td>
            {% for error in form.errors.sou %}
            <span style="color: red;">[{{error}}]</span><br>
            {% endfor %}
            </td>

        </tr>
    </table>
</form>
{{pp}}
<div>
    <ul>
        {% if souo %}
            {% for k in souo %}
            <li>
                {{k}}
            </li>
            {% endfor %}
        {% endif %}
    </ul>

</div>
<div id="show" class="">

</div>
{% endblock %}

